.arrow-ul {
    width: 300px;
}

.arrow-ul__title {
    margin-bottom: 30px;

    font-weight: 800;
    font-size: 16px;
    color: #7f8c8c;
}

.arrow-ul_service .arrow-ul__title {
    text-transform: uppercase;
}

.arrow-ul__ul {
    padding-inline-start: 18px;
}

.arrow-ul__li {
    position: relative;

    font-weight: 400;
    font-size: 13px;
    line-height: 2;
    color: #777;
}

.arrow-ul__icon {
    position: absolute;
    top: 7px;
    left: -15px;
}