.page-header {
    background-color: #ececec;
    padding: 30px 0;
    position: relative;
}

.page-header::after {
    content: '';
    width: 0;
    height: 0;

    position: absolute;
    bottom: -12px;
    left: 165px;
    z-index: 2;

    border-top: 12px solid #ececec;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}

.page-header__inner {
    display: flex;
    justify-content: space-between;
}

.page-header__title {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: #7f8c8c;
}

.page-header_subtitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #7f8c8c;
}
